#top {
  position: relative;
}

.top_bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: #FAFAFA;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  z-index: 3;
}
.top_bar a {
  display: inline-block;
  min-width: 10%;
  padding: 1rem;
  text-align: center;
  color: #212121;
}
.top_bar_fixed {
  visibility: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  background-color: #212121;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  z-index: 3;
}
.top_bar_fixed a {
  display: inline-block;
  min-width: 10%;
  padding: 1rem;
  text-align: center;
  color: #FAFAFA !important;
}
.web_title {
  position: absolute;
  top: 0;
  z-index: 3;
  border-radius: 10px;
  overflow: hidden;
}
.web_title a:hover {
  -webkit-animation: title_change 2s linear;
          animation: title_change 2s linear;
}
.web_title:hover::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size: 300% 100%;
  background-position: 300% 0%;
  background-image: linear-gradient(35deg, #E4FAF2 35%, #399953 45%);
  -webkit-animation: xmove_right 2s linear;
          animation: xmove_right 2s linear;
}
.web_title:hover::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: #E4FAF2;
  border-radius: 5px;
  transition-duration: 4s;
}

.slogan {
  position: absolute;
  bottom: 30%;
  left: 2%;
  font-size: 6rem;
  font-weight: 800;
  z-index: 3;
}
.slogan span {
  color: rgba(255, 80, 80, 0.9);
}

.intro {
  font-size: 1.3em;
  text-decoration: underline;
}

#circle_world_img {
  border-radius: 20%;
}

#country_checkbox {
  max-height: 31rem;
  overflow-y: scroll;
  border-radius: 1rem;
  background-color: transparent;
}
#country_checkbox::-webkit-scrollbar {
  width: 1em;
}
#country_checkbox::-webkit-scrollbar-track {
  background-color: transparent;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
#country_checkbox::-webkit-scrollbar-thumb {
  background-color: rgba(1, 87, 155, 0.4);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#top {
  height: 100vh;
  width: 100%;
  background: #FFFFFF;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
#top::after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center bottom, #e78e2f, rgba(238, 221, 255, 0) 60%, rgba(61, 138, 246, 0.8) 100%);
  z-index: 2;
  transform: translate3d(0, 0, 0);
}

#aboutus {
  height: 100vh;
  width: 100%;
  background: #000000;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
#aboutus::after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center top, #e78e2f, rgba(238, 221, 255, 0.3) 60%, rgba(238, 221, 255, 0) 100%);
  z-index: 2;
  transform: translate3d(0, 0, 0);
}

.dusk {
  background: #fbb56a;
  width: 120vw;
  height: 120vmax;
  border-radius: 42%;
  opacity: 0.4;
  position: absolute;
  top: -190%;
  left: 0%;
  transform-origin: center;
  -webkit-animation: drift 7s infinite linear;
          animation: drift 7s infinite linear;
}

.dawn {
  background: #defb6a;
  width: 120vw;
  height: 120vmax;
  border-radius: 42%;
  opacity: 0.4;
  position: absolute;
  bottom: -190%;
  left: 0%;
  transform-origin: center;
  -webkit-animation: drift 7s infinite linear;
          animation: drift 7s infinite linear;
}

.dusk.two, .dawn.two {
  -webkit-animation: drift 9s infinite linear;
          animation: drift 9s infinite linear;
}

.dusk.three, .dawn.three {
  -webkit-animation: drift 11s infinite linear;
          animation: drift 11s infinite linear;
  opacity: 0.1;
}

#info {
  position: absolute;
  bottom: 0;
  height: 30vh;
  color: #FFFFFF;
}