/*  SCSS    */
@import "index.css";
@import "animation.css";

body{
    position: relative;
    /* background-color: #E4FAF2; */
    background: linear-gradient(to bottom, #E4FAF2 0%, #FCEB66 50%, #ff9e17 70%, #8b560b 80%, #120801 95%);
    background-size: 100% 100%;
    /* animation: ymove 2s linear infinite; */
    /* -webkit-animation: ymove 2s linear infinite; */
    /* -moz-animation: ymove 2s linear infinite; */
}
a:link {
    color: #000000;
    text-decoration: none;
}
a:visited {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #4775FF;
    text-decoration: none;
}
a:active {
    color: #4775FF;
    text-decoration: none;
}
