/*  SCSS    */
@import "index.css";
@import "animation.css";

body{
    background-color: #FAFAFA;
}
a:link {
    color: #000000;
    text-decoration: none;
}
a:visited {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #4775FF;
    text-decoration: none;
}
a:active {
    color: #4775FF;
    text-decoration: none;
}