<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8"/>
    <title>後端管理介面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->

    <link href="{{ url_for('static', filename = 'bootstrap_old/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/backend.css') }}">

</head>

<body>

<!--增加檔案-->
<section id="user-add">
                        <div class="input-group mb-3">
                            <label for="add-file">檔案上傳</label>
                            <input type="file" class="form-control" >
                        </div>

                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                    <button type="submit" class="btn btn-primary">上傳</button>
</section>




<script src="{{ url_for('static', filename = 'bootstrap_old/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'bootstrap_old/js/jquery.min.js') }}"></script>


</body>

</html>

