<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8"/>
    <title>後端管理介面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->

    <link href="{{ url_for('static', filename = 'bootstrap_old/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/backend.css') }}">
    
</head>

<body>

<!--增加檔案-->
<section id="user-add">
    <div style="position: absolute; left: 50%; width: 400px; margin-left: -200px; margin-bottom: 50px;">
    <form action="upload" method="POST" enctype="multipart/form-data" > 
        <div class="input-group mb-3">
            檔案上傳
            <input type="file" name="upload_file" class="form-control" id="inp-add-1" >
        </div>
        <input type="submit" class="btn btn-primary"></input>
    </form>
</section>




<script src="{{ url_for('static', filename = 'bootstrap_old/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'bootstrap_old/js/jquery.min.js') }}"></script>


</body>

</html>

