<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
     <!--
    <link rel="stylesheet" href="../css/main.css"> 
    <script src="../bootstrap/js/bootstrap.js"></script> -->
    <script src="../js/main.js"></script>
    <title>後端主介面</title>
</head>
<body>
    <div id="top" class="area">
        <div class="container py-5">
                <h1><span class="web_title p-1">後端主介面我不會排版</span></h1>
        </div>
    </div>

    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupFile01">上傳</label>
        <input type="file" class="form-control" id="inputGroupFile01">
    </div>
    <button type="button" class="btn btn-light">刪除</button>


    <br/>
</body>
</html>

