<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8"/>
    <title>後端管理介面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/login.css') }}"> 
</head>

<body>
    <div class='wrap'>
        upload
    <div class="login">
         <!-- <form action="addfile" method="POST" class="login">
            <button>上傳</button>
        </form>  -->
        <form action="upload" method="POST" enctype="multipart/form-data" > 
        
            <!-- style="border:1px solid black;" -->
            <div class="input-group mb-3" >
                <input type="file" name="upload_file" class="form-control" id="inp-add-1" style="float:left;">
                <button type="submit">上傳</button>
            </div>
        </form>
        <form action="/logout"  class="login">
            <button type="logout">登出</button>
        </form>
    </div>
    </div>
</body>
</html>


