<!DOCTYPE html>
<html lang="zh-TW">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/aos.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
<title>永續指標分析與呈現</title>

</head>
<body>

<div class="list_buttons">
    <a href="#top">Top</a>
    <a href="#KPI">KPI</a>
    <!-- <a href="#reference">Reference</a> -->
    <a href="#aboutus">About us</a>
</div>

<div id="top" class="row justify-content-left mx-0">
    <div class="dawn one"></div>
    <div class="dawn two"></div>
    <div class="dawn three"></div>
    <!-- <div class="col-4 text-center web_title py-2 m-3">
        <a href="index.html">
            <h1><span class="text-center align-middle p-1">SDG11 KPI</span></h1>
        </a>
    </div> -->
    <div class="slogan col-10 mt-5">
        <div data-aos="fade-right" data-aos-delay="0">
            <span>S</span>ustainable
        </div>
        <div data-aos="fade-right" data-aos-delay="100">
            &emsp;<span>D</span>evelopment
        </div>
        <div data-aos="fade-right" data-aos-delay="200">
            &emsp;&emsp;<span>G</span>oals
        </div>
    </div>
</div>
<div id="KPI">
    <div id="circle_world_img" class="container-fluid mt-3">
        <div class="row justify-content-center align-item-center">
            <div class="col-6" data-aos="fade-up"
                data-aos-offset="300"
                data-aos-delay="50"
                data-aos-duration="500"
                data-aos-easing="ease-in-out">
                <iframe src="./circle_world_plot_2014" style="width: 100%; height: 80vh;"></iframe>
            </div>
        </div>
    </div>
    <div id="flat_world_img" class="container-fluid">
        <div class="row justify-content-left mx-0">
            <div class="col-7" data-aos="fade-up"
                data-aos-offset="200"
                data-aos-delay="50"
                data-aos-duration="500"
                data-aos-easing="ease-in-out">
                <iframe src="/flat_world_plot_2014" style="width: 100%; height: 70vh;"></iframe>
            </div>
            <div class="col-3 intro p-5" data-aos="fade-up"
                data-aos-offset="200"
                data-aos-delay="50"
                data-aos-duration="500"
                data-aos-easing="ease-in-out">
                文字文字文字文字文字文字文字文字
            </div>

            <div class="offset-4 col-7" data-aos="fade-up"
                data-aos-offset="200"
                data-aos-delay="50"
                data-aos-duration="500"
                data-aos-easing="ease-in-out">
                <iframe src="/scatter_plot_2014" style="width: 100%; height: 70vh;"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid my-5">
    <div class="row justify-content-center mx-0">
        <div class="col-6 row justify-content-between mx-0">
            {% for name in country %}
            <div class="col-6 form-check">
                <input class="form-check-input" type="checkbox" name="country" id="{{ name }}" name="check">
                <label class="form-check-label" for="Taiwan">
                    {{ name }}
                </label>
            </div>
            {% endfor %}
            <button class="btn btn-primary" id="linechartSearch">submit</button>
        </div>
        <div id="linechart" class="col-6">
        </div>
    </div>
</div>

<div id="aboutus" class="row justify-content-center mx-0">
    <div class="dusk one"></div>
    <div class="dusk two"></div>
    <div class="dusk three"></div>
    <div id="info" class="container-fluid">
        <div class="row justify-content-center mx-0">
            <span class="text-center m-4">ABOUT US</span>
            <p class="text-center mt-5">
                Contact email :office2022@cs.ccu.edu.tw<br/>
                Address : 621301 嘉義縣民雄鄉大學路168號
            </p>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/aos.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
<script type="text/javascript">
    AOS.init();

    var checkedCountry = [];

    $( "#linechartSearch" ).click(function() {
        $("input[name='country']").each(function(){
            if($(this).prop("checked")){
                var name = $(this).attr('id');
                checkedCountry.push(name);
            }
        })
        var json = JSON.stringify(checkedCountry);
        console.log(json);
    });
    </script>

</body>
</html>