<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    <script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
    <title>永續指標分析與呈現</title>
</head>
<body>
    <div class="list_buttons">
        <a href="#top">Top</a>
        <a href="#kpi_1">KPI 1</a>
        <a href="#reference">Reference</a>
        <a href="#aboutus">About us</a>
    </div>
    <div id="top" class="area">
        <div class="row container mx-0">
            <div class="col-4 text-center web_title py-2 m-3">
                <a href="index.html">
                    <h1><span class="text-center align-middle p-1">SDG11 KPI</span></h1>
                </a>
            </div>
        </div>
    </div>
    <div id="kpi_1" class="area container">
        <div class="row justify-content-center">
            <div class="col-7">
                <iframe src="/circle_world_plot_2014" style="width: 100%; height: 40rem;"></iframe>
                <!-- <img src="img/test.jpg" alt="test"> -->
            </div>
            <div class="col-4 introduce">
                組長頂樓好冷，風好大<br/>
                我真的交不出需求文件了
            </div>
        </div>
    </div>
    <div id="reference" class="area">
        <div class="row justify-content-center align-item-center mx-0">
            <div class="col">Reference</div>
        </div>
    </div>
    <div id="aboutus" class="area">
        <div id="info" class="container-fluid">
            <div class="row justify-content-center mx-0">
                <span class="text-center m-4">ABOUT US</span>
                <p class="text-center mt-5">
                    Contact email :office2022@cs.ccu.edu.tw<br/>
                    Address : 621301 嘉義縣民雄鄉大學路168號
                </p>
            </div>
        </div>
    </div>
</body>
</html>

