<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"></meta>
        <title>登入</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
    </head>
    <boby>
        <form action="" class="login">
            <h1>登入</h1>
            <i class="fa fa-user-circle-o"></i>
            <div class="account">
                <input type="text" name="form_account" autocomplete="off" required />
                <label for="form_account" class="account-label"><span class="account-name">帳號</span></label>
            </div>
            <div class="account">
                <input type="password" name="form_account" autocomplete="off" required />
                <label for="form_account" class="account-label"><span class="account-name">密碼</span></label>
            </div>
            <button type="submit">登入</botton>
        </form>
    </boby>
</html>