<div id="reference" class="area">
    <div id="reference" class="area">
        <div class="container py-5">
            <h1>Reference</h1><br/>
            <div class="row justify-content-center">
                <div class="col-10">
                    <ul>
                        <li class="h4">要填甚麼阿</li>
                    </ul>
                </div>
            </div>
            <div class="d-flex align-items-end flex-column bd-highlight mb-3" style="height: 500px;width: 1200px">
                <div class="mt-auto p-2 bd-highlight">
                    <a href="#top">
                        <button type="button" class="btn btn-outline-secondary"><strong>Go back</strong></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>